<center>
<img src="../../img/ods_stickers.jpg">
    
## [mlcourse.ai](https://mlcourse.ai) - Open Machine Learning Course

Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/). Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/). All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas


**Same assignment as a [Kaggle Kernel](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset) + [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution).**

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already  in the repository). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg).**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [6]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

In [38]:
columns = ['age'
,'workclass'
,'fnlwgt'
,'education'
,'education-num'
,'marital-status'
,'occupation'
,'relationship'
,'race'
,'sex'
,'capital-gain'
,'capital-loss'
,'hours-per-week'
,'native-country'
,'salary']

data = pd.read_csv('data/adult.data.csv')
old_cols = data.columns
data.columns = columns
data.head()

old_cols = pd.DataFrame(data=old_cols.values.reshape(1, -1), columns=pd.Series(columns))
data = data.append(old_cols)

In [39]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [68]:
# You code here

data['sex'][data['sex'] == ' Male'].count(), data['sex'][data['sex'] == ' Female'].count()

(21790, 10771)

**2. What is the average age (*age* feature) of women?**

In [80]:
data.query('sex == \' Female\'')['age'].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [108]:
data['native-country'][data['native-country'] == ' Germany'].count() / data['native-country'].count()

0.004207487485028101

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [127]:
ages_more = np.array(list(map(lambda s: int(s), data[data['salary'] == ' >50K']['age'])))
ages_less = np.array(list(map(lambda s: int(s), data[data['salary'] == ' <=50K']['age'])))

print(f'>50k: mean, std = {ages_more.mean()}, {ages_more.std()}')
print(f'<=50k: mean, std = {ages_less.mean()}, {ages_less.std()}')

>50k: mean, std = 44.24984058155847, 10.51835692766163
<=50k: mean, std = 36.78373786407767, 14.019804910115282

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [162]:
# You code here
from functools import reduce

education_levels = [
    'Bachelors',
    'Masters',
    'Doctorate',
    'Prof-school',
    'Assoc-acdm',
    'Assoc-voc',
]

query = reduce(lambda start, s: start + f"education != ' {s}' & ", education_levels, '')[:-3]

not_hs = data.query(query)

who_earns_more = not_hs[not_hs['salary'] == ' >50K']

len(who_earns_more)

3306

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [186]:
# You code here
# data['age'] = np.array(list(map(lambda s: int(s), data['age'])))
# data.groupby(by=['race', 'age']).describe()

In [187]:
data.groupby(by='sex').describe()

             age
           count       mean        std   min   25%   50%   75%   max
sex
 Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
 Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0

In [188]:
data.groupby(by='race').describe()

                         age                                                \
                       count       mean        std   min   25%   50%   75%
race
 Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
 Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
 Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
 Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
 White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0


                      max
race
 Amer-Indian-Eskimo  82.0
 Asian-Pac-Islander  90.0
 Black               90.0
 Other               77.0
 White               90.0

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [237]:
# You code here
# data.columns = data.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
# data.columns = data.columns.str.replace('-', '_')

# я бы использовал query но тут какая-то ошибка
all_marrieds = data[data['marital_status'].str.contains('Married')]
all_notmarrieds = data[~data['marital_status'].str.contains('Married')]

abs_marrieds = len(all_marrieds)
abs_notmarrieds = len(all_notmarrieds)
rich_marrieds = len(all_marrieds[all_marrieds['salary'] == ' >50K'])
rich_notmarrieds = len(all_notmarrieds[all_notmarrieds['salary'] == ' >50K'])

rich_marrieds / abs_marrieds, rich_notmarrieds / abs_notmarrieds
# marrieds_who_earn_alot.count()

(0.43692028280469614, 0.0644540363975735)

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [247]:
# You code here
# data.hours_per_week = np.array(list(map(lambda s: int(s), data.hours_per_week)))

max_hpw = data['hours_per_week'].max()
all_who_work_hard = data.query(f'hours_per_week == @max_hpw')
percentage = len(all_who_work_hard.query('salary == " >50K"')) / len(all_who_work_hard)

max_hpw, len(all_who_work_hard), percentage

(99, 85, 0.29411764705882354)

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [266]:
# You code here
data.groupby(['native_country', 'salary']).describe().loc[' Japan']['hours_per_week'][['mean']]

             mean
salary
 <=50K  41.000000
 >50K   47.958333